{% extends 'layout.html' %}

{% block title %}Create Canvas{% endblock %}

{% block body %}
<div class="canvas" style="padding: 0 10% 0 10%; background-color: #000000; height: 100vh; margin: 0!important;">
    <div>
        <strong>What are the value Proposition of the company?</strong>
        <span>
            <p>
                Value propositions are the key elements that distinguish you from your other competitors.
            </p>
        </span>
    </div>
    <div>
        <label for="projectname">Project Name</label>
        <input type="text" name="projectname" id="projectname">
    </div>
    <form>
        <div style="display: flex; flex-direction: column;">
            <div>
                <label for="fieldcreator">Enter amount of value Propositions</label>
                <input type="number" id="fieldcreator" required>
                <button type="button" onclick=addValueField() class="add">Add</button>
                <button type="button" class="infobutton" id="infoBtn"><i class="fa-regular fa-circle-question"></i></button>
            </div>
            <div>
                <p class="info">A value proposition is a clear statement that explains how a product, service, or offering solves a customer's problem, satisfies their needs, or provides benefits. It communicates the unique value and benefits that a company provides to its customers, setting it apart from competitors. A compelling value proposition should address what makes the product or service valuable, who it's for, and why customers should choose it over alternatives. It essentially answers the question: "Why should customers choose us?" A strong value proposition helps businesses attract and retain customers by effectively communicating the benefits and advantages of their offerings.</p>
            </div>
        </div>
    </form>
    
    <div>
        <button id="collapseValueProposition" onclick="collapse('valuePropositionForm')" style="display: none;" class="collapse"> <span> Expand Value Proposition Segment</span></button>
        <form method="post" name="valueProposition" id="valuePropositionForm"  style="display: none;">
            {% csrf_token %}
            <div class="">
                <div class="not">
                    <span>Write the Value Propositions in the fields below:</span>
                    <button type="button" class="infobutton" id="infoBtn"><i class="fa-regular fa-circle-question"></i></button>
                </div>
                <div class="not">
                    <p class="info">A value proposition is a clear statement that explains how a product, service, or offering solves a customer's problem, satisfies their needs, or provides benefits. It communicates the unique value and benefits that a company provides to its customers, setting it apart from competitors. A compelling value proposition should address what makes the product or service valuable, who it's for, and why customers should choose it over alternatives. It essentially answers the question: "Why should customers choose us?" A strong value proposition helps businesses attract and retain customers by effectively communicating the benefits and advantages of their offerings.</p>         
                </div>
            </div>
        </form>
        <button id="collapsecustomerSegment" onclick="collapse('customerSegmentForm')" style="display: none;" class="collapse">Expand Customer Segment</button>
        <form method="post" name="customerSegment" id="customerSegmentForm" style="display: none;">
            {% csrf_token %}
            <div class="">
                <div class="not">
                    <span>Write the Customer Segments in the fields below</span>
                    <button type="button" class="infobutton" id="infoBtn"><i class="fa-regular fa-circle-question"></i></button>
                </div>
                <div class="not">
                    <p class="info">A customer segment is a group of individuals or organizations with similar characteristics, needs, or behaviors that a business targets with its products or services. Identifying and understanding customer segments is essential for businesses to effectively tailor their offerings and marketing strategies to meet the specific needs and preferences of each group. By segmenting their customer base, businesses can better allocate resources, design targeted marketing campaigns, and develop products or services that resonate with different segments, ultimately leading to improved customer satisfaction and business success. Customer segmentation can be based on various factors such as demographics (age, gender, income), psychographics (lifestyle, values, attitudes), geographic location, purchasing behavior, or industry-specific characteristics.</p>
                </div>
            </div>
        </form>
        <button id="collapsechannels" onclick="collapse('channelsForm')" style="display: none;" class="collapse">Expand channel Segment</button>
        <form method="post" name="channels" id="channelsForm" style="display: none;">
            {%csrf_token%}
            <div class="">
                <div class="not">
                    <span>Write the Channels here:</span>
                    <button type="button" class="infobutton" id="infoBtn"><i class="fa-regular fa-circle-question"></i></button>
                </div>
                <div class="not">
                    <p class="info">In the Business Model Canvas, "Channels" refer to the various ways through which a company delivers its value proposition to its customer segments. Channels can include both communication and distribution channels, encompassing online platforms, physical stores, direct sales teams, and more. The choice of channels is critical as it directly impacts how customers access products or services and influences the overall customer experience. Effective channel strategies ensure that the value proposition reaches the target audience efficiently, maximizing reach and engagement while optimizing costs. Channels also play a crucial role in building and maintaining customer relationships by facilitating interaction and providing support throughout the customer journey.</p>
                </div>
            </div>
        </form>
        <button id="collapserelationship" onclick="collapse('relationshipForm')" style="display: none;" class="collapse">Expand Relationships</button>
        <form method="post" name="relationship" id="relationshipForm" style="display: none;">
            {%csrf_token%}
            <div class="not">
                <div class="not">
                    <span>Write the Relationships here</span>
                    <button type="button" class="infobutton" id="infoBtn"><i class="fa-regular fa-circle-question"></i></button>
                </div>
                <div class="not">
                    <p class="info">In the Business Model Canvas, "Customer Relationships" describe how a company interacts with and establishes connections with its customer segments to create and maintain satisfaction and loyalty. These relationships can vary widely based on factors such as the nature of the business, the type of customers, and the stage of the customer lifecycle. Examples of customer relationships include personal assistance, self-service, automated services, communities, and co-creation platforms. The choice of relationship strategy is crucial as it directly impacts customer satisfaction, retention, and ultimately, the success of the business. Effective management of customer relationships ensures that the company meets customer needs, fosters loyalty, and drives long-term value.</p>
                </div>
            </div>
        </form>
        <button id="collapserevenue" onclick="collapse('revenueForm')" style="display: none;" class="collapse">Expand Revenue Stream</button>
        <form method="post" name="revenue" id="revenueForm" style="display: none;">
            {%csrf_token%}
            <div class="not">
                <h3>Write the revenue streams here</h3>
                <button type="button" class="infobutton" id="infoBtn"><i class="fa-regular fa-circle-question"></i></button>
            </div>
            <div class="not">
                <p class="info">In the Business Model Canvas, "Customer Relationships" describe how a company interacts with and establishes connections with its customer segments to create and maintain satisfaction and loyalty. These relationships can vary widely based on factors such as the nature of the business, the type of customers, and the stage of the customer lifecycle. Examples of customer relationships include personal assistance, self-service, automated services, communities, and co-creation platforms. The choice of relationship strategy is crucial as it directly impacts customer satisfaction, retention, and ultimately, the success of the business. Effective management of customer relationships ensures that the company meets customer needs, fosters loyalty, and drives long-term value.</p>
            </div>
        </form>
        <button id="collapsekeyresource" onclick="collapse('keyresourceForm')" style="display: none;" class="collapse">Expand Key Resource</button>
        <form method="post" name="keyresource" id="keyresourceForm" style="display: none;">
            {%csrf_token%}
            <div class="not">
                <div class="not">
                    <h3>Write key Resource here</h3>
                    <button type="button" class="infobutton" id="infoBtn"><i class="fa-regular fa-circle-question"></i></button>
                </div>
                <div class="not">
                    <p class="info">In the Business Model Canvas, "Revenue Streams" represent the avenues through which a company generates income from its customer segments. These streams can take various forms, such as one-time sales, recurring subscriptions, licensing fees, advertising revenue, or transaction fees. Revenue streams are crucial components of a business model as they directly contribute to its financial sustainability and profitability. Effective revenue stream strategies involve identifying and optimizing the most lucrative sources of income while aligning them with the value proposition and customer segments. By diversifying revenue streams and maximizing their potential, businesses can ensure long-term viability and growth.</p>
                </div>
            </div>
        </form>
        <button id="collapsekeyactivities" onclick="collapse('keyactivitiesForm')" style="display: none;" class="collapse">Expand Key Activities</button>
        <form method="post" name="keyactivities" id="keyactivitiesForm" style="display: none;">
            {%csrf_token%}
            <h3>Write Key Activities here</h3>
            <button type="button" class="infobutton" id="infoBtn"><i class="fa-regular fa-circle-question"></i></button>
            <p class="info">In the Business Model Canvas, "Key Activities" outline the essential tasks and operations that a company must perform to deliver its value proposition, operate efficiently, and achieve its strategic objectives. These activities can range from production and manufacturing to marketing, distribution, customer service, and research and development. Key activities are critical for executing the business model effectively and differentiating the company from competitors. They require careful planning, resource allocation, and ongoing management to ensure smooth operations and the delivery of value to customers. By identifying and prioritizing key activities, businesses can optimize their workflows, streamline processes, and maintain a competitive edge in the market.</p>
        </form>
        <button id="collapsekeypartnership" onclick="collapse('keypartnershipForm')" style="display: none;" class="collapse">Expand Key Partnership</button>
        <form method="post" name="keypartnership" id="keypartnershipForm" style="display: none;">
            {%csrf_token%}
            <span>Write Key Activities here</span>
            <button type="button" class="infobutton" id="infoBtn"><i class="fa-regular fa-circle-question"></i></button>
            <p class="info">In the Business Model Canvas, "Key Relationships" denote the strategic partnerships and alliances that a company forms with other entities to enhance its value proposition and achieve its business goals. These relationships can include partnerships with suppliers, distributors, collaborators, strategic alliances, or joint ventures. Key relationships are essential for accessing resources, reaching new markets, reducing costs, and mitigating risks. They require effective communication, collaboration, and mutual trust to foster mutually beneficial outcomes. By cultivating and managing key relationships, companies can leverage external expertise, expand their reach, and create sustainable competitive advantages in the marketplace.</p>
        </form>
        <button id="collapsecoststructure" onclick="collapse('coststructureForm')" style="display: none;" class="collapse">Expand Key Cost Structure</button>
        <form method="post" name="coststructure" id="coststructureForm" style="display: none;">
            {%csrf_token%}
            <span>Write Key Activities here</span>
            <button type="button" class="infobutton" id="infoBtn"><i class="fa-regular fa-circle-question"></i></button>
            <p class="info">Cost Structure</p>
        </form>
    </div>
</div>

{% endblock %}
