{% extends 'layout.html' %}
{% load static %}
{%block title%} Compare canvas {%endblock%}

{%block body%}
<div class="main-comparecanvas">
    <div class="select-comparecanvas">
        <div class="user_canvas">
            {%if user_canvas%}
            <label for="select_user_canvas">Select Your Canvas:</label>
            <select name="user_canvas" id="select_user_canvas" class="a">
                <option value="" disabled selected>Select an option</option>
                {%for item in user_canvas%}
                    <option value="{{item.id}}">{{item}}</option>
                {%endfor%}
            </select>
            {%endif%}
        </div>
        <div class="other_canvas">
            {%if other_canvas%}
            <label for="select_other_canvas" >Select Canvas to Compare:</label>
            <select name="other_canvas" id="select_other_canvas" class="a">
                <option value="" disabled selected>Select an option</option>
                {%for item in other_canvas%}
                    <option value="{{item.id}}">{{item}}</option>
                {%endfor%}
            </select>
            {%endif%}
        </div>
    </div>
    <div class="show-comparison">
        <div class="comparecanvas-grid-container" id="user_canvas" style="display: none;">
            <div class="project" id="user-header"></div>
            <div class="value_propositions" id="user-value-proposition">
                <h3 style="padding-bottom: 20px;">Value Proposition</h3>
            </div>
            <div class="customer_segments" id="user-customer-segment">
                <h3 style="padding-bottom: 20px;">Customer Segment</h3>
            </div>
            <div class="channels" id="user-channels">
                <h3 style="padding-bottom: 20px;">Channels</h3>
            </div>
            <div class="revenue_streams" id="user-revenue-stream">
                <h3 style="padding-bottom: 20px;">Revenue Streams</h3>
            </div>
            <div class="key_partners" id="user-key-partner">
                <h3 style="padding-bottom: 20px;">Key Partners</h3>
            </div>
            <div class="key_resources" id="user-key-resources">
                <h3 style="padding-bottom: 20px;">Key Resources</h3>
            </div>
            <div class="key_activities" id="user-key-activities">
                <h3 style="padding-bottom: 20px;">Key Activities</h3>
            </div>
            <div class="customer_relationships" id="user-customer-relationship">
                <h3 style="padding-bottom: 20px;">Customer Relationships</h3>
            </div>
            <div class="cost_structures" id="user-cost-structure">
                <h3 style="padding-bottom: 20px;">Cost Structure</h3>
            </div>            
        </div>
        <div class="comparecanvas-grid-container" id="other_canvas" style="display: none;">
            <div class="project" id="user-header"></div>
            <div class="value_propositions" id="other-value-proposition">
                <h3 style="padding-bottom: 20px;">Value Proposition</h3>
            </div>
            <div class="customer_segments" id="other-customer-segment">
                <h3 style="padding-bottom: 20px;">Customer Segment</h3>
            </div>
            <div class="channels" id="other-channels">
                <h3 style="padding-bottom: 20px;">Channels</h3>
            </div>
            <div class="revenue_streams" id="other-revenue-stream">
                <h3 style="padding-bottom: 20px;">Revenue Streams</h3>
            </div>
            <div class="key_partners" id="other-key-partner">
                <h3 style="padding-bottom: 20px;">Key Partners</h3>
            </div>
            <div class="key_resources" id="other-key-resources">
                <h3 style="padding-bottom: 20px;">Key Resources</h3>
            </div>
            <div class="key_activities" id="other-key-activities">
                <h3 style="padding-bottom: 20px;">Key Activities</h3>
            </div>
            <div class="customer_relationships" id="other-customer-relationship">
                <h3 style="padding-bottom: 20px;">Customer Relationships</h3>
            </div>
            <div class="cost_structures" id="other-cost-structure">
                <h3 style="padding-bottom: 20px;">Cost Structure</h3>
            </div>  
        </div>
    </div>
</div>
<div class="chatgpt-div" id="chatgpt_logo">
    <img src="{% static 'picture/chatgpt.jpg' %}" alt=" Logo" class="chatgpt">
    <p style="color: black;" id="ask_ai">Ask AI</p>
</div>
<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span><br>
        <h3 style="text-align: center;">How to use ChatGPT for your model</h3><br>
        <p>
            To use ChatGPT better, you have to define what do you need.it's crucial to provide specific details and context about your inquiry. For instance, instead of asking a broad question like "How do I improve my business canvas?" you could ask, "In the 'Customer Segments' section of my business canvas, how can I identify niche market segments for my online pet grooming service targeting urban millennials?" <br>
            By being specific about the section of the canvas you're focusing on and the target market you're addressing, you help me understand the scope of your question and provide a more relevant response. Additionally, including examples or scenarios, such as mentioning specific challenges you're facing or goals you're trying to achieve, can further clarify your question and facilitate a more effective exchange of information.
        </p>
        <a href="https://chatgpt.com/" class="chatgpt-button">Go to ChatGPT</a>
    </div>
</div>
{%csrf_token%}

{%endblock%}