{% extends 'layout.html' %}
{% load static %}
{% block title %} premium {% endblock %}
{% block body %}
<div class="premium">
    <div class="premiuminside">
        <div>
            <p><strong>Unlock the full potential of CanvasGenius Premium and elevate your business strategy to new heights.</strong> 
            <br>Gain exclusive access to ChatGPT, your personalized AI assistant, providing invaluable insights and suggestions in real-time. Connect with experienced consultants who specialize in various industries, ready to offer tailored advice and guidance to optimize your canvas. Enjoy priority support with instant assistance whenever you need it, ensuring smooth sailing on your entrepreneurial journey. Dive deeper into advanced features and tools designed to enhance collaboration, innovation, and decision-making. Elevate your business canvas creation process with premium templates, resources, and analytics, empowering you to make informed decisions and drive success. Upgrade to CanvasGenius Premium today and unlock a world of possibilities for your business.</p>
        </div>
        <div style="padding-top: 5%;">
            <table class="table table-bordered" style="color:white;background-color: rgba(0,0,0, 0.5);">
                <thead>
                    <tr>
                        <th scope="col">Feature</th>
                        <th scope="col" class="tablecenter">Basic</th>
                        <th scope="col" class="tablecenter">Premium</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Online Instant Support</th>
                        <td class="tablecenter">&#10003;</td>
                        <td class="tablecenter">&#10003;</td>
                    </tr>
                    <tr>
                        <th scope="row">AI Online Help</th>
                        <td class="tablecenter">&#x2718;</td>
                        <td class="tablecenter">&#10003;</td>
                    </tr>
                    <tr>
                        <th scope="row">Peer-to-Peer Consultant</th>
                        <td class="tablecenter">&#x2718;</td>
                        <td class="tablecenter">&#10003;</td>
                    </tr>
                    <tr>
                        <th scope="row">Advanced Analytics</th>
                        <td class="tablecenter">&#x2718;</td>
                        <td class="tablecenter">&#10003;</td>
                    </tr>
                    <tr>
                        <th scope="row">Exclusive Access to Premium Templates</th>
                        <td class="tablecenter">&#x2718;</td>
                        <td class="tablecenter">&#10003;</td>
                    </tr>
                    <tr>
                        <th scope="row">Customizable Dashboards</th>
                        <td class="tablecenter">&#x2718;</td>
                        <td class="tablecenter">&#10003;</td>
                    </tr>
                    <tr>
                        <th scope="row">Monthly Webinars and Workshops</th>
                        <td class="tablecenter">&#x2718;</td>
                        <td class="tablecenter">&#10003;</td>
                    </tr>
                    <tr>
                        <th>Go Premium</th>
                        <td class="tablecenter">Stay Basic</td>
                        <td class="tablecenter" style="height: 100%;">
                            <a href="#"><button type="button" style="height: 100%;width: 100%;background-color: #FF6666;
                                border-radius: 5px;
                                border: 0;
                                height: 100% !important;">Go premium</button></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}