{% extends 'layout.html' %}
{%block title%} Tutorial {%endblock%}
{% block body%}
<div class="tutorial">
    <div class="tutorial-header">
        <h3>Here we are helping you to learn how to fill your Business Canvas</h3>
        <h5>What is a Business Canvas?</h5>
        <p>Business Model Canvas, is a strategic management tool used to visually represent the key elements and aspects of a business model on a single page. It's a framework developed by Alexander Osterwalder and Yves Pigneur that helps entrepreneurs and business leaders to understand, analyze, and communicate various aspects of their business in a concise and structured manner.</p>
        <h5>The Business Canvas typically consists of nine key building blocks:</h5>
        <p>(Click on each item to have more information)</p>
    </div>
    <div>
        <ul class="grid-container-tutorial">
            <li class="value-proposition"><strong>Value Propositions:</strong>
                <p>Describing the products or services offered by the business and how they fulfill the needs or solve the problems of the target customers.<br><br></p>
                <p class="description">
                    It's best to begin with the Value Proposition section. Start by asking yourself, <strong>"What does my product offer that makes it more valuable than others?"</strong><br>
                    For instance, if you're developing a cellular phone, consider what features or qualities set your product apart and compel users to choose it over others. The answer of the question, is what you need to put in the <strong>Value Proposition</strong> section. 
                </p>
            </li>
            <li class="customer-segment"><strong>Customer Segments:</strong>
                <p>This section involves identifying the different groups of people or organizations that a company aims to serve. <br><br></p>
                <p class="description">
                    To fill out this section, consider each <strong>Value Proposition</strong> and answer the question, <strong>"Who is the buyer of my product, considering the intended Value Proposition?"</strong><br>
                    For example, if the Value Proposition revolves around producing luxury mobile phones, your target customer segment might be Flaunters.
                </p>
            </li>            
            <li class="channel"><strong>Channels:</strong>
                <p>
                    The Channels section delineates the strategic methods by which the company establishes communication and engagement with its clients to effectively deliver its value propositions. <br><br>
                </p>
                </p>
                <p class="description">
                    When addressing this segment, meticulously assess each <strong>Customer Segment</strong> and deliberate on the optimal means of product delivery tailored to the unique requirements of each demographic. Pose the question, <strong>"How can we efficiently disseminate our product to cater to the specific needs of this customer segment?"</strong>
                </p>
            </li>
            <li class="customer-relationship"><strong>Customer Relationships:</strong>
                <p>
                    This section entails describing the types of connections the company cultivates and maintains with its customers to ensure their ongoing satisfaction and loyalty. 
                </p>
                <p class="description">
                    Consider the nature of interactions you have with your customers: are they transactional, community-based, or personalized? Reflect on how these relationships contribute to your customer retention strategy and overall business objectives.
                    To fill this section, you may ask:<strong>"What strategies can we implement to enhance our interactions with customers and foster long-term loyalty? How do these strategies align with our overall business objectives and contribute to our customer retention efforts?"</strong>
                </p>
            </li>
            <li class="revenue-stream"><strong>Revenue Streams:</strong>
                <p>
                    Identify the diverse sources from which revenue is generated within your business model. Analyze each revenue stream to ascertain its significance and sustainability. 
                </p>
                <p class="description">
                    Delve into pricing strategies, subscription models, one-time sales, or any other revenue-generating avenues pertinent to your business. The key question to ask here is: <strong>"what are the primary channels through which our company generates revenue, and how can we optimize them?"</strong>
                </p>
            </li>
            <li class="key-resources"><strong>Key Resources:</strong>
                <p>
                    List the essential assets, resources, and capabilities required to deliver your value proposition effectively. Consider tangible assets such as equipment, technology, and facilities, as well as intangible resources like intellectual property, human capital, and strategic partnerships.
                </p>
                <p class="description">
                     To complete this section, ask yourself: <strong>what are the critical resources our company must possess or leverage to deliver our value proposition, and how can we ensure their optimal utilization?</strong>
                </p>
            </li>
            <li class="key-activities"><strong>Key Activities:</strong>
                <p>
                    Identify the most crucial actions and processes that your company must undertake to deliver its value proposition successfully. These activities could encompass product development, marketing campaigns, distribution logistics, customer service, or any other operational tasks vital to your business model.
                </p>
                <p class="description">
                     To fill this section effectively, ponder upon the question:<strong> what are the core activities our company must perform to fulfill our value proposition and achieve our strategic goals?</strong>
                </p>
            </li>
            <li class="key-partner"><strong>Key Partnerships:</strong>
                <p>
                    Describe the external entities and organizations that your company collaborates with to augment resources, mitigate risks, or access new markets. These partnerships could range from suppliers and distributors to strategic alliances and joint ventures. Consider the synergies and mutual benefits derived from these collaborations.
                </p>
                <p class="description">
                    To complete this section, reflect on the question: <strong>which external partnerships are essential for our business success, and how can we nurture and leverage them effectively?</strong>
                </p>
            </li>
            <li class="cost-structure"><strong>Cost Structure:</strong>
                <p>
                    Outline the costs and expenses incurred by your business model to operate efficiently and generate revenue. This includes both fixed and variable costs such as production expenses, marketing expenditures, overhead costs, and any other financial outlays relevant to your operations.
                </p>
                <p class="description">
                    To fill this section comprehensively, analyze your cost drivers and evaluate opportunities for cost optimization. Ask yourself: <strong>what are the primary cost components of our business, and how can we manage them effectively to maximize profitability?</strong>
                </p>
            </li>
        </ul>
    </div>  
</div>
<script>
    document.querySelectorAll("li").forEach(li => {
        li.addEventListener('click', () => {
            let x = li.querySelector(".description");
            x.classList.toggle("show-description");
        });
    });
</script>

{%endblock%}