{% extends 'layout.html' %}
{% load static %}
{%block title%} Tutorial {%endblock%}
{% block body%}
<div class="tutorial">
    <div class="tutorial-header">
        <h3>Here we are helping you to learn how to fill your Business Canvas</h3>
        <h5>What is a Business Canvas?</h5>
        <p>Business Model Canvas, is a strategic management tool used to visually represent the key elements and aspects of a business model on a single page. It's a framework developed by Alexander Osterwalder and Yves Pigneur that helps entrepreneurs and business leaders to understand, analyze, and communicate various aspects of their business in a concise and structured manner.</p>
        <h5>The Business Canvas typically consists of nine key building blocks:</h5>
        <p>(Click on each item to have more information)</p>
    </div>
    <div>
        <ul class="grid-container-tutorial">
    <li class="value-proposition">
        <div class="triangle">
            <i class="fa-solid fa-gift center-triangle-item" style="font-size: xx-large;"></i>
        </div>
        <div>
            <h3 style="text-align: center;"><strong>Value Propositions</strong></h3>
            <p>Durable, eco-friendly reusable bags</p>
            <p>Customizable designs for personal or corporate branding</p>
            <p>Affordable pricing compared to competitors</p>
            <p>Contribution to reducing plastic waste</p>
        </div>
    </li>
    <li class="customer-segment">
        <div class="triangle">
            <i class="fa-solid fa-user-group center-triangle-item" style="font-size: xx-large;"></i>
        </div>
        <div>
            <h3 style="text-align: center;"><strong>Customer Segments</strong></h3>
            <p>Environmentally conscious consumers</p>
            <p>Retail stores and supermarkets</p>
            <p>Corporate clients for promotional items</p>
            <p>Online shoppers</p>
        </div>
    </li>            
    <li class="channel">
        <div class="triangle">
            <div class="content-modified">
                <div class="network"></div>
                <div class="main-line line1"></div>
                <div class="main-line line2"></div>
                <div class="main-line line3"></div>
                <div class="main-line line4"></div>
                <div class="main-line line5"></div>
                <div class="main-line line6"></div>
                <div class="network main-line-circle line-circle1"></div>
                <div class="network main-line-circle line-circle2"></div>
                <div class="network main-line-circle line-circle3"></div>
                <div class="network main-line-circle line-circle4"></div>
                <div class="network main-line-circle line-circle5"></div>
                <div class="network main-line-circle line-circle6"></div>
            </div>
        </div>                
        <div>
            <h3 style="text-align: center;"><strong>Channels</strong></h3>
            <p>Online store (company website)</p>
            <p>E-commerce platforms (Amazon, Etsy)</p>
            <p>Retail stores and supermarkets</p>
            <p>Corporate sales team for B2B clients</p>
        </div>
    </li>
    <li class="customer-relationship">
        <div class="triangle">
            <i class="fa-solid fa-comments center-triangle-item" style="font-size: xx-large;"></i>
        </div>
        <div>
            <h3 style="text-align: center;"><strong>Customer Relationships</strong></h3>
            <p>Social media engagement</p>
            <p>Email newsletters with eco-friendly tips and product updates</p>
            <p>Customer support via chat, email, and phone</p>
            <p>Loyalty programs and discounts for repeat customers</p>
        </div>
    </li>
    <li class="revenue-stream">
        <div class="triangle">
            <i class="fa-solid fa-sack-dollar center-triangle-item" style="font-size: xx-large;"></i>
        </div>
        <div>
            <h3 style="text-align: center;"><strong>Revenue Streams</strong></h3>
            <p>Direct sales through online store</p>
            <p>Wholesale orders from retail stores and supermarkets</p>
            <p>Customized orders for corporate clients</p>
            <p>Subscription service for new designs and limited editions</p>
        </div>
    </li>
    <li class="key-resources">
        <div class="triangle">
            <i class="fa-solid fa-toolbox center-triangle-item" style="font-size: xx-large;"></i>
        </div>
        <div>
            <h3 style="text-align: center;"><strong>Key Resources</strong></h3>
            <p>Manufacturing facility and equipment</p>
            <p>Design team for product customization</p>
            <p>Website and e-commerce infrastructure</p>
            <p>Marketing and sales team</p>
        </div>
    </li>
    <li class="key-activities">
        <div class="triangle">
            <i class="fa-solid fa-pen-to-square center-triangle-item" style="font-size: xx-large;"></i>
        </div>
        <div>
            <h3 style="text-align: center;"><strong>Key Activities</strong></h3>
            <p>Product design and manufacturing</p>
            <p>Marketing and promotion</p>
            <p>Order fulfillment and shipping</p>
            <p>Customer service and support</p>
        </div>
    </li>
    <li class="key-partner">
        <div class="triangle">
            <i class="fa-solid fa-handshake center-triangle-item" style="font-size: xx-large;"></i>
        </div>
        <div>
            <h3 style="text-align: center;"><strong>Key Partnerships</strong></h3>
            <p>Suppliers of eco-friendly materials</p>
            <p>Retail partners for distribution</p>
            <p>E-commerce platforms for online sales</p>
            <p>Environmental organizations for joint campaigns</p>
        </div>
    </li>
    <li class="cost-structure">
        <div class="triangle">
            <i class="fa-solid fa-file-invoice-dollar center-triangle-item" style="font-size: xx-large;"></i>
        </div>
        <div>
            <h3 style="text-align: center;"><strong>Cost Structure</strong></h3>
            <p>Manufacturing and material costs</p>
            <p>Marketing and advertising expenses</p>
            <p>Salaries for employees</p>
            <p>Shipping and logistics costs</p>
        </div>
    </li>
</ul>

    </div>  
</div>
<div class="chatgpt-div" id="chatgpt_logo">
    <img src="{% static 'picture/chatgpt.jpg' %}" alt=" Logo" class="chatgpt">
    <p style="color: black;" id="ask_ai">Ask AI</p>
</div>
<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span><br>
        <h3 style="text-align: center;">How to use ChatGPT for your model</h3><br>
        <p>
            To use ChatGPT better, you have to define what do you need.it's crucial to provide specific details and context about your inquiry. For instance, instead of asking a broad question like "How do I improve my business canvas?" you could ask, "In the 'Customer Segments' section of my business canvas, how can I identify niche market segments for my online pet grooming service targeting urban millennials?" <br>
            By being specific about the section of the canvas you're focusing on and the target market you're addressing, you help me understand the scope of your question and provide a more relevant response. Additionally, including examples or scenarios, such as mentioning specific challenges you're facing or goals you're trying to achieve, can further clarify your question and facilitate a more effective exchange of information.
        </p>
        <a href="https://chatgpt.com/" class="chatgpt-button">Go to ChatGPT</a>
    </div>
</div>

<script>
    document.querySelectorAll("li").forEach(li => {
        li.addEventListener('click', () => {
            let x = li.querySelector(".description");
            x.classList.toggle("show-description");
        });
    });
</script>

{%endblock%}